footer {
  background-color: $white;
  color: $black;
  padding: .5rem 2.5rem;
  margin-left: -1px;
  border: 1px solid $black;
  border-bottom: none;
  border-right: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    font-family: "League Spartan";
    font-size: 1rem;
    span {
      color: $blue;
    }
  }
  .footer {
    &__links {
      display: flex;
      flex-direction: row;
      p {
        margin-right: 0.75rem;
        a {
          color: $black;
          text-decoration: none;
          transition: color 0.4s ease;
          &:hover {
            color: $blue;
          }
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
