header {
  position: fixed;
  background-color: $white;
  width: 100vw;
  z-index: 4;
  .header-inner {
    border-bottom: 1px solid $black;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      a {
        text-decoration: none;
        font-family: "League Spartan", serif;
        padding: 0 1rem;
        font-size: 1.25rem;
        height: 100%;
        display: flex;
        align-items: center;
        color: $black;
        transition: color 0.3s ease;
        &:nth-of-type(5) {
          margin-right: 1.5rem;
        }
        &:hover {
         color: $blue; 
        }
      }
    }
    &__left {
      padding: 1rem 1rem 1rem calc(5% + 1rem);
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
        margin-right: calc(5% + 1rem);
        margin-left: 1rem;
      }
      a {
        text-decoration: none;
        font-family: "Soria", serif;
        font-size: 2rem;
        transition: color 0.4s ease;
        &:hover {
          color: $pink;
        }
      }
    }
  }
}
