// --------------------
// Fonts
// --------------------

@font-face {
    font-family: Lineal Regular;
    src: url('../fonts/Lineal-Regular.woff2'), url('../fonts/Lineal-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Lineal Bold;
    src: url('../fonts/Lineal-Bold.woff2'), url('../fonts/Lineal-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Soria;
    src: url('../fonts/soria-font.woff2'), url('../fonts/soria-font.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: League Spartan;
    src: url('../fonts/LeagueSpartan-Regular.woff2'), url('../fonts/LeagueSpartan-Regular.ttf') format('truetype');
    font-display: swap;
}


// --------------------
// Colours
// --------------------

$blue: #23C5E9;
$pink: #EA60C3;
$black: #090909;
$white: #f7f7f7;